name: odoo_bridge_client
description: "A simple Odoo bridge client for Flutter."
version: 0.0.2
homepage:

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  analyzer: ^8.4.1
  build: ^4.0.2
  flutter:
    sdk: flutter
  http: ^1.6.0
  source_gen: ^4.0.2

dev_dependencies:
  build_runner: ^2.10.3
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
